<p-dialog
  [header]="currentMode === 'create' ? 'Create Route' : 'Update Route'"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '70%' }"
  (onHide)="closeDialog()"
>
  <div class="flex flex-col gap-4">
    <form
      class="flex flex-col gap-4"
      [formGroup]="routeForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex gap-4">
        <div formArrayName="path" class="flex-1">
          <label>Stations</label>
          <div *ngFor="let stationCtrl of pathControls; let i = index">
            <div [formGroupName]="i">
              <select formControlName="stationId">
                <option
                  *ngFor="let availableStation of availableStations"
                  [value]="availableStation.id"
                >
                  {{ availableStation.city }}
                </option>
              </select>
            </div>
          </div>
          <button type="button" (click)="addStationField()">Add Station</button>
        </div>

        <div formArrayName="carriages" class="flex-1">
          <label>Carriages</label>
          <div *ngFor="let carriageCtrl of carriagesControls; let i = index">
            <div [formGroupName]="i">
              <select formControlName="carriageType">
                <option
                  *ngFor="let availableCarriage of availableCarriages"
                  [value]="availableCarriage.code"
                >
                  {{ availableCarriage.name }}
                </option>
              </select>
            </div>
          </div>
          <button type="button" (click)="addCarriageField()">
            Add Carriage
          </button>
        </div>
      </div>

      <div class="flex mt-4">
        <app-custom-button
          [config]="{ label: 'Save', disabled: !routeForm.valid }"
          type="submit"
        ></app-custom-button>
      </div>
    </form>
  </div>
</p-dialog>
