<p-dialog
  [header]="title + (updateCode$ | async)"
  [modal]="true"
  [(visible)]="isVisible"
  [style]="{ width: '70%' }"
  (onHide)="closeDialog()"
>
  <div class="flex">
    <form
      class="flex flex-col gap-4 text-center"
      [formGroup]="carriageForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-center">
        <label class="mb-2 block" for="rows"> Rows </label>
        <p-inputNumber
          id="rows"
          formControlName="rows"
          [showButtons]="true"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [min]="1"
        />
      </div>
      <div class="text-center">
        <label class="mb-2 block" for="rows"> Left Seats Cols </label>
        <p-inputNumber
          id="leftSeats"
          formControlName="leftSeats"
          [showButtons]="true"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        />
      </div>
      <div class="text-center">
        <label class="mb-2 block" for="rows"> Right Seats Cols </label>
        <p-inputNumber
          id="rightSeats"
          formControlName="rightSeats"
          [showButtons]="true"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        />
      </div>

      <app-custom-button
        [config]="{
          disabled: !carriageForm.valid,
          label: 'Save',
          type: 'submit',
        }"
      />
    </form>
    <app-carriage-item
      [config]="{
        code: carriageForm.get('code')?.value,
        rows: carriageForm.get('rows')?.value,
        leftSeats: carriageForm.get('leftSeats')?.value,
        rightSeats: carriageForm.get('rightSeats')?.value,
        name: carriageForm.get('code')?.value,
      }"
    ></app-carriage-item></div
></p-dialog>
