<app-custom-button
  (click)="showCreateForm()"
  [config]="{
    styleClass: 'seat my-3',
    label: 'Create',
    icon: 'pi pi-file-plus',
  }"
></app-custom-button>

<app-create-route-form
  *ngIf="(currentMode$ | async) === 'create' && (formVisible$ | async)"
></app-create-route-form>

<app-update-route-form
  *ngIf="(currentMode$ | async) === 'update' && (formVisible$ | async)"
></app-update-route-form>

<p-panel class="mt-3 p-4 max-w-fit" header="Routes">
  <cdk-virtual-scroll-viewport
    itemSize="100"
    class="viewport h-[600px] w-full overflow-auto"
  >
    <div
      *cdkVirtualFor="let route of routes$ | async; let i = index"
      class="item p-4 border-b border-gray-200"
    >
      <app-routes-item
        [config]="route"
        [cityNames]="(cityNames$ | async)?.[i] || []"
        [carriageNames]="(carriageNames$ | async)?.[i] || []"
      ></app-routes-item>
      <p-divider />
    </div>
  </cdk-virtual-scroll-viewport>
</p-panel>

<p-dialog
  draggable="false"
  header="Are you sure to delete Route {{ localModalInfo.routeInfo.id }} ?"
  [modal]="true"
  [(visible)]="localModalInfo.visibleModal"
>
  <div class="flex justify-between">
    <app-custom-button
      [config]="{ label: 'Cancel', outlined: true }"
      (click)="closeModal()"
    />
    <app-custom-button
      [config]="{ label: 'Confirm' }"
      (click)="deleteRoute(); closeModal()"
    />
  </div>
</p-dialog>
