<p-card class="flex justify-center mx-auto mt-10" [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
    <h2 class="text-center">Sign Up</h2>
  </ng-template>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-4">
      <label for="email" class="block mb-1">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Enter your email"
      />

      <div
        *ngIf="submitted && signUpForm.get('email')?.errors"
        class="font-extralight text-red-500 mt-1"
      >
        <small *ngIf="signUpForm.get('email')?.hasError('required')"
          >Field is required.</small
        >
        <small *ngIf="signUpForm.get('email')?.hasError('pattern')"
          >Invalid email format.</small
        >
        <small *ngIf="signUpForm.get('email')?.hasError('serverError')">
          {{ signUpForm.get("email")?.getError("serverError") }}
        </small>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="password" class="block mb-1">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Enter your password"
      />

      <div
        *ngIf="submitted && signUpForm.get('password')?.errors"
        class="font-extralight text-red-500 mt-1"
      >
        <small *ngIf="signUpForm.get('password')?.hasError('required')"
          >Field is required.</small
        >
        <small *ngIf="signUpForm.get('password')?.hasError('minlength')"
          >Password must be at least 8 characters long.</small
        >
        <small *ngIf="signUpForm.get('password')?.hasError('serverError')">
          {{ signUpForm.get("password")?.getError("serverError") }}
        </small>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="repeatPassword" class="block mb-1">Repeat password</label>
      <input
        type="password"
        pInputText
        formControlName="repeatPassword"
        class="w-full"
        name="repeatPassword"
        placeholder="Repeat your password"
      />

      <div
        *ngIf="
          submitted &&
          (signUpForm.get('repeatPassword')?.errors ||
            signUpForm.hasError('passwordsMismatch'))
        "
        class="font-extralight text-red-500 mt-1"
      >
        <small
          *ngIf="signUpForm.get('repeatPassword')?.hasError('required')"
          class="block"
          >Field is required.</small
        >
        <small *ngIf="signUpForm.hasError('passwordsMismatch')"
          >Passwords do not match.</small
        >
      </div>
    </div>

    <div class="form-group">
      <app-custom-button
        [config]="{
          label: 'Register',
          severity: 'primary',
          type: 'submit',
          styleClass: 'w-full',
          disabled: signUpForm.invalid,
        }"
      ></app-custom-button>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div>
      Already have an account?
      <a routerLink="/signin" class="text-fuchsia-400">Sign In</a>
    </div>
  </ng-template>
</p-card>
