<div class="w-full min-h-[calc(100vh-73px-21px-40px)] flex justify-center items-center flex-col py-6">
  <p-card [styleClass]="'rounded-lg'" class="w-full max-w-2xl">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="flex flex-wrap gap-1">
      <div class="grow w-[calc(50%-2px)] min-w-64">
        <div class="mb-2">Your City</div>
        <p-dropdown
          [styleClass]="'w-full'"
          formControlName="city1"
          placeholder="Choose a station"
          [options]="(allStation$ | async) || []"
          optionLabel="city"
          [editable]="true"
          (onHide)="onHide()"
        />
        <div
          *ngIf="
            searchForm.get('city1')?.invalid &&
            (searchForm.get('city1')?.dirty || searchForm.get('city1')?.touched)
          "
          class="font-extralight text-red-500"
        >
          <small *ngIf="searchForm.get('city1')?.hasError('required')">
            Required
          </small>
        </div>
      </div>
      <div class="grow w-[calc(50%-2px)] min-w-64">
        <div class="mb-2">Destination City</div>
        <p-dropdown
          [styleClass]="'w-full'"
          formControlName="city2"
          [options]="connectedStations || []"
          optionLabel="cityName"
          [editable]="true"
          placeholder="Choose a station"
        />
        <div
          *ngIf="
            searchForm.get('city2')?.invalid &&
            (searchForm.get('city2')?.dirty || searchForm.get('city2')?.touched)
          "
          class="font-extralight text-red-500"
        >
          <small *ngIf="searchForm.get('city2')?.hasError('required')">
            Required
          </small>
        </div>
      </div>
      <p-calendar
        placeholder="Date of your trip"
        class="w-full"
        [styleClass]="'w-full'"
        selectionMode="range"
        formControlName="date"
      />
      <div
        *ngIf="
          searchForm.get('date')?.invalid &&
          (searchForm.get('date')?.dirty || searchForm.get('date')?.touched)
        "
        class="font-extralight text-red-500"
      >
        <small *ngIf="searchForm.get('date')?.hasError('required')">
          Required
        </small>
      </div>
      <app-custom-button
        class="w-full"
        [config]="{
          label: 'Search',
          type: 'submit',
          styleClass: 'w-full',
          disabled: searchForm.invalid,
        }"
      />
    </form>
  </p-card>
  <ng-container *ngIf="firstFound | async">
    <app-search-result-list *ngIf="!(isSearched | async)" class="result w-full max-w-[1600px] mt-12"/>
  </ng-container>
</div>
