<div class="w-full min-h-[calc(100vh-73px-21px-40px)] flex justify-center items-center flex-col">
  <p-card [styleClass]="'rounded-lg'" class="w-full max-w-2xl">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="flex flex-wrap gap-y-1">
      <p-dropdown
        [styleClass]="'w-full'"
        formControlName="city1"
        placeholder="Choose a station"
        [options]="(allStation$ | async) || []"
        optionLabel="city"
        [editable]="true"
        class="grow w-[50%] min-w-72 pr-1"
        (onHide)="onHide()"
      />
      <div class="grow w-[50%] min-w-72 pl-1">
        <p-dropdown
          [styleClass]="'w-full'"
          formControlName="city2"
          [options]="connectedStations || []"
          optionLabel="id"
          [editable]="true"
          class="grow w-[50%] min-w-72 pr-1"
          placeholder="Choose a station"
        />
      </div>
      <p-calendar class="w-full" [styleClass]="'w-full'" selectionMode="range"  formControlName="date" />
      <app-custom-button class="w-full" [config]="{
        label: 'Search',
        type: 'submit',
        styleClass: 'w-full',
        disabled: searchForm.invalid,
      }"/>
    </form>
  </p-card>
</div>
