<div *ngIf="config">
  <p>cols {{ config.rows }}</p>
  <p>left {{ config.leftSeats }}</p>
  <p>right {{ config.rightSeats }}</p>
  <p>seats {{ (config.leftSeats + config.rightSeats) * config.rows }}</p>
  <div class="carriage">
    <div
      class="row"
      *ngFor="let col of createRange(config.rows); let rowIndex = index"
    >
      <div
        class="seat left text-red-950"
        *ngFor="
          let seat of createRange(config.leftSeats);
          let seatIndex = index
        "
      >
        {{
          (config.rows - rowIndex - 1) *
            (config.leftSeats + config.rightSeats) +
            seatIndex +
            1
        }}
      </div>
      <div class="aisle"></div>
      <div
        class="seat right text-red-950"
        *ngFor="
          let seat of createRange(config.rightSeats);
          let seatIndex = index
        "
      >
        {{
          (config.rows - rowIndex - 1) *
            (config.leftSeats + config.rightSeats) +
            config.leftSeats +
            seatIndex +
            1
        }}
      </div>
    </div>
  </div>
</div>
