:host ::ng-deep {
  .carriage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .p-fieldset {
    border-radius: 2rem;

  }

  .carriage-side {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: min-content;
    gap: 0.5rem;
  }

  .row {
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .seat {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
