:host ::ng-deep {
  @import url("./carriage-seat/carriage-seat.component.scss");
  .carriage-container {
    display: flex;
    justify-content: center;
  }

  .carriage {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    overflow-x: auto;
  }

  .p-fieldset {
    border-radius: 2rem;
  }

  .carriage-side {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: min-content;
    gap: 0.5rem;
  }

  .row {
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: center;
  }
}
