<span
  *ngIf="carriageNumber"
  class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300"
  >Car {{ carriageNumber }}</span
>

<div class="carriage-container">
  <div class="carriage">
    <app-custom-button
      *ngIf="config.mode !== 'interActive'"
      (clickEmitter)="triggerUpdate()"
      [id]="config.code + '-update'"
      [config]="{
        label: 'Update',
        styleClass: 'my-2',
        icon: 'pi pi-file-edit',
      }"
    />

    <p-fieldset [legend]="config.name">
      <div class="flex gap-4">
        <p-divider layout="vertical" />
        <div>
          <div class="carriage-side">
            <div
              class="row"
              *ngFor="let col of createRange(config.rows); let rowIndex = index"
            >
              <app-carriage-seat
                *ngFor="
                  let seat of createRange(config.rightSeats);
                  let seatIndex = index
                "
                [carriageSeatConfig]="{
                  seatId:
                    (config.rows - rowIndex - 1) *
                      (config.leftSeats + config.rightSeats) +
                    config.leftSeats +
                    seatIndex +
                    1,
                  seatIdTrain:
                    (config.previousSeats ?? 0) +
                    (config.rows - rowIndex - 1) *
                      (config.leftSeats + config.rightSeats) +
                    config.leftSeats +
                    seatIndex +
                    1,
                  isWorking: config.isWorking,
                  carriageNumber: carriageNumber,
                  carriageType: config.name
                }"
              />
            </div>
          </div>

          <p-divider class="m-8"></p-divider>

          <div class="carriage-side">
            <div
              class="row"
              *ngFor="let col of createRange(config.rows); let rowIndex = index"
            >
              <app-carriage-seat
                *ngFor="
                  let seat of createRange(config.leftSeats);
                  let seatIndex = index
                "
                [carriageSeatConfig]="{
                  seatId:
                    (config.rows - rowIndex - 1) *
                      (config.leftSeats + config.rightSeats) +
                    seatIndex +
                    1,
                  seatIdTrain:
                    (config.previousSeats ?? 0) +
                    (config.rows - rowIndex - 1) *
                      (config.leftSeats + config.rightSeats) +
                    seatIndex +
                    1,
                  isWorking: config.isWorking,
                  carriageNumber: carriageNumber,
                  carriageType: config.name
                }"
              />
            </div>
          </div>
        </div>

        <p-divider layout="vertical" />
      </div>
    </p-fieldset>
  </div>
</div>
