<form
  [formGroup]="newStationForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col h-full"
>
  <div class="form-group mb-4">
    <label for="city" class="block mb-1">City Name</label>
    <input
      type="text"
      pInputText
      formControlName="city"
      class="w-full"
      name="city"
      placeholder="Enter City Name"
    />
    <div
      *ngIf="
        newStationForm.get('city')?.invalid &&
        (newStationForm.get('city')?.dirty ||
          newStationForm.get('city')?.touched)
      "
      class="font-extralight text-red-500 mt-1"
    >
      <small *ngIf="newStationForm.get('city')?.hasError('required')">
        Required
      </small>
      <small
        *ngIf="newStationForm.get('city')?.hasError('minlength')"
      >
        Minimal length is 3
      </small>
    </div>
  </div>
  <div class="form-group mb-4">
    <label for="latitude" class="block mb-1">Latitude</label>
    <input
      type="number"
      pInputText
      formControlName="latitude"
      class="w-full"
      name="latitude"
      placeholder="Enter Latitude"
    />
    <div
      *ngIf="
        newStationForm.get('latitude')?.invalid &&
        (newStationForm.get('latitude')?.dirty ||
          newStationForm.get('latitude')?.touched)
      "
      class="font-extralight text-red-500 mt-1"
    >
      <small *ngIf="newStationForm.get('latitude')?.hasError('required')">
        Required
      </small>
      <small *ngIf="newStationForm.get('latitude')?.hasError('pattern')">
        Invalid Latitude
      </small>
    </div>
  </div>
  <div class="form-group mb-4">
    <label for="longitude" class="block mb-1">Longitude</label>
    <input
      type="number"
      pInputText
      formControlName="longitude"
      class="w-full"
      name="longitude"
      placeholder="Enter Longitude"
    />
    <div
      *ngIf="
        newStationForm.get('longitude')?.invalid &&
        (newStationForm.get('longitude')?.dirty ||
          newStationForm.get('longitude')?.touched)
      "
      class="font-extralight text-red-500 mt-1"
    >
      <small
        *ngIf="newStationForm.get('longitude')?.hasError('required')"
      >
        Required
      </small>
      <small *ngIf="newStationForm.get('longitude')?.hasError('pattern')">
        Invalid Longitude
      </small>
    </div>
  </div>
  <app-custom-button
    class="mt-auto"
    [config]="{
      label: 'Save',
      severity: 'primary',
      type: 'submit',
      styleClass: 'w-full',
      disabled: newStationForm.invalid,
    }"
  ></app-custom-button>
</form>
