<form
  class="route-container"
  [formGroup]="UpdateRideForm"
  (ngSubmit)="updateRide(data.rideId)"
>
  <div class="route">
    <div class="flex justify-end gap-2">
      <!-- <app-custom-button
        (click)="updateRoute()"
        [config]="{
          label: 'Update',
          styleClass: 'my-2',
          icon: 'pi pi-file-edit',
        }"
      />
      <app-custom-button
        (click)="assignRide()"
        [config]="{
          label: 'Assign Ride',
          styleClass: 'my-2',
          icon: 'pi pi-calendar',
        }"
      /> -->
    </div>
    <p-fieldset [legend]="'Ride ' + data.rideId">
      <div class="text-end">
        <app-custom-button
          (click)="deleteRide(data.rideId)"
          [config]="{
            type: 'button',
            severity: 'danger',
            outlined: true,
            label: 'Delete',
            styleClass: 'my-2 ml-auto',
            icon: 'pi pi-trash',
          }"
        />
      </div>
      <div class="hidden lg:flex gap-3 mb-2 pb-2">
        <div class="lg:w-1/5">City</div>
        <div class="lg:flex-1">Time</div>
        <div class="w-1/3">Price</div>
      </div>
      <ng-container formArrayName="segments">
        <!-- <app-ride-segment
          *ngFor="let segment of segmentsControls; let i = index"
          [formGroupName]="i"
          [segment]="segment.value"
        /> -->
        <!-- (segmentUpdated)="onSegmentUpdated($event, i)" -->
        <!-- (segmentUpdated)="onSegmentUpdated($event, i)" -->

        <div
          class="flex lg:flex-nowrap flex-wrap gap-10 py-5 border-solid border-0 border-t border-purple-400"
          *ngFor="let segment of segments.controls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <div class="lg:w-1/5 w-full">
              <div class="mb-2 lg:hidden">City</div>
              {{ segment.value.city }}
            </div>
            <div class="flex-1">
              <!-- <app-edit-time [time]="getTimeControls" /> -->

              <div class="flex gap-2">
                <div class="grow">
                  <ng-container class=" " *ngIf="data.segments[i].arrival">
                    <label [for]="'arrival' + i" class="block mb-4"
                      >Arrival</label
                    >
                    <div>
                      <!-- [id]="priceControl.key" -->
                      <p-calendar
                        *ngIf="checkIfEditTimeMode(i)"
                        [id]="'arrival' + i"
                        class="w-full mb-4"
                        [formControlName]="'arrival'"
                        [showTime]="true"
                        [hourFormat]="'12'"
                        showIcon="true"
                        [iconDisplay]="'input'"
                        dateFormat="mm/dd/yy"
                        [defaultDate]="segment.value.arrival"
                      />
                      <div
                        *ngIf="
                          segment.get('arrival')?.invalid &&
                          (segment.get('arrival')?.dirty ||
                            segment.get('arrival')?.touched)
                        "
                        class="font-extralight text-red-500"
                      >
                        <small
                          *ngIf="segment.get('arrival')?.hasError('required')"
                        >
                          Required
                        </small>
                      </div>
                    </div>
                    <!-- [defaultDate]="segment.value.arrival" -->
                    <div
                      *ngIf="!checkIfEditTimeMode(i)"
                      class="p-inputtext p-inputtext--div p-component p-element grow mb-4"
                    >
                      {{ segment.value.arrival | date: "yyyy-MM-dd h:mm a" }}
                    </div>
                  </ng-container>

                  <ng-container class=" " *ngIf="data.segments[i].departure">
                    <label [for]="'departure' + i" class="block mb-4"
                      >Departure</label
                    >
                    <div *ngIf="checkIfEditTimeMode(i)">
                      <p-calendar
                        [id]="'departure' + i"
                        class="w-full mb-4"
                        [formControlName]="'departure'"
                        [showTime]="true"
                        [hourFormat]="'12'"
                        showIcon="true"
                        [iconDisplay]="'input'"
                        dateFormat="mm/dd/yy"
                        [defaultDate]="segment.value.departure"
                      />
                      <div
                        *ngIf="
                          segment.get('departure')?.invalid &&
                          (segment.get('departure')?.dirty ||
                            segment.get('departure')?.touched)
                        "
                        class="font-extralight text-red-500"
                      >
                        <small
                          *ngIf="segment.get('departure')?.hasError('required')"
                        >
                          Required
                        </small>
                      </div>
                    </div>
                    <div
                      *ngIf="!checkIfEditTimeMode(i)"
                      class="p-inputtext p-inputtext--div p-component p-element grow mb-4"
                    >
                      {{ segment.value.departure | date: "yyyy-MM-dd h:mm a" }}
                    </div>
                  </ng-container>
                </div>

                <div>
                  <app-custom-button
                    *ngIf="checkIfEditTimeMode(i)"
                    [config]="{
                      icon: 'pi pi-save',
                      type: 'submit',
                    }"
                    (clickEmitter)="toggleEditTimeMode(i)"
                  />
                  <app-custom-button
                    *ngIf="!checkIfEditTimeMode(i)"
                    [config]="{
                      icon: 'pi pi-pencil',
                    }"
                    (clickEmitter)="toggleEditTimeMode(i)"
                  />
                </div>
              </div>
            </div>

            <div class="lg:w-1/3 w-full">
              <div *ngIf="segment.get('price') as price">
                <div class="flex gap-2" formGroupName="price">
                  <div class="grow">
                    <div
                      *ngFor="
                        let priceControl of getPriceControls(i).controls
                          | keyvalue
                      "
                    >
                      <div class="flex gap-2">
                        <label
                          [for]="priceControl.key + i"
                          class="block mb-4 mt-18"
                          >{{ priceControl.key }}:</label
                        >
                        <div
                          class="form-group mb-4 grow"
                          *ngIf="checkIfEditMode(i)"
                        >
                          <p-inputNumber
                            class="w-full"
                            [id]="priceControl.key + i"
                            [formControlName]="priceControl.key"
                          />
                          <div
                            *ngIf="
                              getPriceControls(i).get(priceControl.key)
                                ?.invalid &&
                              (getPriceControls(i).get(priceControl.key)
                                ?.dirty ||
                                getPriceControls(i).get(priceControl.key)
                                  ?.touched)
                            "
                            class="font-extralight text-red-500"
                          >
                            <small
                              *ngIf="
                                getPriceControls(i)
                                  .get(priceControl.key)
                                  ?.hasError('required')
                              "
                            >
                              Required
                            </small>
                          </div>
                        </div>
                        <div
                          *ngIf="!checkIfEditMode(i)"
                          class="p-inputtext p-inputtext--div p-component p-element grow mb-4"
                        >
                          {{
                            +getPriceControls(i).controls[priceControl.key]
                              .value | currency
                          }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <app-custom-button
                      *ngIf="checkIfEditMode(i)"
                      [config]="{
                        icon: 'pi pi-save',
                        type: 'submit',
                      }"
                      (clickEmitter)="toggleEditMode(i)"
                    />
                    <app-custom-button
                      *ngIf="!checkIfEditMode(i)"
                      [config]="{
                        icon: 'pi pi-pencil',
                      }"
                      (clickEmitter)="toggleEditMode(i)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </p-fieldset>
  </div>
</form>
