<p-carousel
  [value]="(stations$ | async) || []"
  [numVisible]="3"
  [numScroll]="3"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-station pTemplate="item">
    <app-stations-item [station]="station" />
  </ng-template>
</p-carousel>
<p-dialog
  draggable="false"
  header="Are you sure to delete {{ localModalInfo.stationInfo.city }} station?"
  [modal]="true"
  [(visible)]="localModalInfo.visibleModal"
>
  <div class="flex justify-between">
    <app-custom-button
      [config]="{ label: 'Cancel', outlined: true }"
      (click)="closeModal()"
    />
    <app-custom-button
      [config]="{ label: 'Confirm' }"
      (click)="deleteStation(); closeModal()"
    />
  </div>
</p-dialog>
