<div class="flex flex-col md:flex-row border border-stone-600 border-solid rounded-md">
  <div class="flex items-center p-4 w-full md:max-w-96 border border-stone-600 border-solid border-l-0 border-r-0 border-t-0 md:border-b-0">
    <div>
      <div class="text-lg font-bold ">16:30</div>
      <div class="text-nowrap text-xs">August 13</div>
      <div class="text-xs font-medium leading-7">City45</div>
    </div>
    <div class="relative w-full h-0.5 bg-slate-600 mx-3 px-3">
      <div class="absolute left-0 top-1/2 trans size-3 rounded-full border-2 border-solid border-slate-600 bg-slate-100" style="transform: translateY(-50%);"></div>
      <div class="absolute top-[50%] left-[50%] bg-slate-600 text-[12px] leading-none rounded-lg p-1" style="transform: translate(-50%, -50%);">5h 56m</div>
      <div class="absolute right-0 top-1/2 trans size-3 rounded-full border-2 border-slate-600 bg-slate-600" style="transform: translateY(-50%);"></div>
    </div>
    <div class="">
      <div class="text-lg font-bold ">22:26</div>
      <div class="text-nowrap text-xs">August 13</div>
      <div class="text-xs font-medium leading-7">City102</div>
    </div>
  </div>
  <div class="flex flex-col w-full ml-auto md:w-auto sm:flex-row">
    <div class="w-full h-full md:max-w-max border-t-0 border-l-0 sm:border-l sm:border-t-0 border-r-0 border-b-0 border-stone-600 border-solid p-4 text-center">
      <div class="mb-2">Carriage type<br/>1st class</div>
      <div class="mb-6 text-gray-400">58 seats</div>
      <div class="font-bold text-xl">$731</div>
    </div>
    <div class="w-full h-full md:max-w-max border-t border-l-0 sm:border-l sm:border-t-0 border-r-0 border-b-0 border-stone-600 border-solid p-4 text-center">
      <div class="mb-2">Carriage type<br/>1st class</div>
      <div class="mb-6 text-gray-400">58 seats</div>
      <div class="font-bold text-xl">$731</div>
    </div>
  </div>
</div>
