<p-card class="flex justify-center">
  <ng-template pTemplate="header">
    <h2 class="text-xxl font-bold text-center">Sign Up</h2>
  </ng-template>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email" class="block">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Enter your email"
      />
      <app-custom-validation-info
        [config]="{
          control: signUpForm.get('email'),
          requiredMessage: 'Email is required',
          validMessage: 'Email looks good',
          customErrorMessages: { email: 'Invalid email format' },
        }"
      ></app-custom-validation-info>
    </div>

    <div class="form-group">
      <label for="password" class="block">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Enter your password"
      />
      <app-custom-validation-info
        [config]="{
          control: signUpForm.get('password'),
          requiredMessage: 'Password is required',
          validMessage: 'Password looks good',
          customErrorMessages: {
            minlength: 'Password must be at least 8 characters long',
          },
        }"
      ></app-custom-validation-info>
    </div>

    <div class="form-group">
      <label for="repeatPassword" class="block">Repeat Password</label>
      <input
        type="password"
        pInputText
        formControlName="repeatPassword"
        class="w-full"
        name="repeatPassword"
        placeholder="Repeat your password"
      />
      <app-custom-validation-info
        [config]="{
          control: signUpForm.get('repeatPassword'),
          customErrorMessages: {
            passwordsMismatch: 'Passwords do not match',
          },
        }"
      ></app-custom-validation-info>
    </div>

    <div class="form-group">
      <app-custom-button
        [config]="{
          label: 'Register',
          severity: 'primary',
          type: 'submit',
          styleClass: 'w-full',
          disabled: signUpForm.invalid,
        }"
      ></app-custom-button>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div>
      Already have an account?
      <a routerLink="/signin" class="text-violet-400">Sign In</a>
    </div>
  </ng-template>
</p-card>

<!-- <app-custom-validation-info
        [config]="{
          control: signUpForm.get('email'),
          requiredMessage: 'Email is required',
          validMessage: 'Email looks good',
          customErrorMessages: { email: 'Invalid email format' },
        }"
      ></app-custom-validation-info>

      <app-custom-validation-info
        [config]="{
          control: signUpForm.get('password'),
          requiredMessage: 'Password is required',
          validMessage: 'Password looks good',
          customErrorMessages: {
            minlength: 'Password must be at least 8 characters long',
          },
        }"
      ></app-custom-validation-info>

      <app-custom-validation-info
        [config]="{
          control: signUpForm.get('repeatPassword'),
          requiredMessage: 'Please repeat your password',
          customErrorMessages: { passwordsMismatch: 'Passwords do not match' },
        }"
      ></app-custom-validation-info> -->

<!-- <form [formGroup]="signUpForm" class="w-full max-w-xs">
  <div class="p-inputwrapper">
    <p-password
      formControlName="password"
      [feedback]="false"
      [toggleMask]="true"
      class="inline-block w-full"
    />
  </div>
</form> -->
