<div *ngIf="userRole$ | async as userRole">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <img class="w-20 h-20" src="'./../../../../../../logo.png" alt="logo" />
      <span class="text-[#b968c7]">Train-A</span>
    </div>
    <div class="p-toolbar-group-center">
      <app-custom-button
        class="mx-1"
        routerLink="/"
        [config]="{
          label: 'Home',
          outlined: !isActiveRoute('/'),
        }"
      />

      <app-custom-button
        class="mx-1"
        *ngIf="isGeneralUserOrManager(userRole)"
        routerLink="/profile"
        [config]="{
          label: 'Profile',
          outlined: !isActiveRoute('/profile'),
        }"
      />
      <app-custom-button
        class="mx-1"
        *ngIf="isGeneralUserOrManager(userRole)"
        routerLink="/order"
        [config]="{
          label: 'My Orders',
          outlined: !isActiveRoute('/order'),
        }"
      />
    </div>
    <div class="p-toolbar-group-end">
      <div *ngIf="isGuest(userRole)">
        <app-custom-button
          class="mx-1"
          routerLink="/signin"
          [config]="{
            label: 'Sign In',
            outlined: !isActiveRoute('/signin'),
          }"
        />
        <app-custom-button
          class="mx-1"
          routerLink="/signup"
          [config]="{
            label: 'Sign Up',
            outlined: !isActiveRoute('/signup'),
          }"
        />
      </div>
      <div *ngIf="isManager(userRole)">
        <app-custom-button
          class="mx-1"
          routerLink="/admin"
          [config]="{
            label: 'Admin',
            outlined: !isActiveRoute('/admin'),
          }"
        />
      </div>
    </div>
  </p-toolbar>
</div>
