<p-card
  class="flex justify-center mx-auto mt-10"
  [style]="{ maxWidth: '520px', width: '100%' }"
>
  <ng-template pTemplate="header">
    <h2 class="text-center">Profile</h2>
  </ng-template>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <app-change-password />
    <app-edit-field
      type="text"
      label="Name"
      formControlName="name"
      tooltip="Natalia"
      placeholder="Enter your name"
      [value]="user.name"
    >
      <div
        *ngIf="submitted && signUpForm.get('name')?.errors"
        class="font-extralight text-red-500 mt-1"
      >
        <small *ngIf="signUpForm.get('name')?.hasError('required')"
          >Required</small
        >
        <small *ngIf="signUpForm.get('name')?.hasError('minlength')"
          >Name must be at least 3 characters long</small
        >
        <small *ngIf="signUpForm.get('name')?.hasError('serverError')">
          {{ signUpForm.get("name")?.getError("serverError") }}
        </small>
      </div>
    </app-edit-field>
    <app-edit-field
      type="email"
      label="Email"
      formControlName="email"
      tooltip="user@example.com"
      placeholder="Enter your email"
      [value]="user.email"
    >
      <div
        *ngIf="submitted && signUpForm.get('email')?.errors"
        class="font-extralight text-red-500 mt-1"
      >
        <small *ngIf="signUpForm.get('email')?.hasError('required')"
          >Required</small
        >
        <small *ngIf="signUpForm.get('email')?.hasError('pattern')"
          >Incorrect email</small
        >
        <small *ngIf="signUpForm.get('email')?.hasError('serverError')">
          {{ signUpForm.get("email")?.getError("serverError") }}
        </small>
      </div>
    </app-edit-field>

    <div class="form-group">
      <app-custom-button
        [config]="{
          severity: 'danger',
        }"
        (click)="logout()"
      >
        Logout
      </app-custom-button>
    </div>
  </form>

  <ng-template pTemplate="footer"> </ng-template>
</p-card>
